<div id="<%= dom_id @unidade %>">

<table class="table">
  
  <thead>
    <tr>
      <th scope="row">Nome</th>
      <td><%= @unidade.nome %></td>
   
    </tr>
    <tr>
      <th scope="row">Endereço</th>
  <td><%= @unidade.endereco %></td>
    </tr>
   

  </thead>
</table>
