
<div id="<%= dom_id unidade %>">
  <p>
    <strong>Nome:
     </strong>
     <p class="text-primary"><%= unidade.nome %></p>

  </p>

  <p>
    <strong>Endereco:</strong><p class="text-primary"><%= unidade.endereco %></p>
    
  </p>

</div>
