
<div id="<%= dom_id @setor %>">

<table class="table">
  
  <thead>
    <tr>
      <th scope="row">Nome</th>
      <td><%= @setor.nome %></td>
   
    </tr>
    <tr>
      <th scope="row">Unidade</th>
  <td><%= @setor.unidade.nome %></td>
    </tr>
   

  </thead>
</table>
