<div id="<%= dom_id setor %>">
  <p>
  <strong>Nome:     </strong>
  <p class="text-primary"><%= setor.nome %></p>
  </p>
 
  <p>
  <strong>Unidade:     </strong>
  <p class="text-primary"><%= setor.unidade.nome %></p>
  </p>

</div>
