
<div class= "card">
<div class="card-header">

<style>
  .bg-custom-blue {
    background-color: #3f98d0; 
    color: #ffffff; 
  }
</style>

<div class="card">
  <div class="card-header bg-custom-blue">
     <h1>Editar Visitante</h1>
</div>
  <div class= "card-body">
  <table class="table">

<thead>
<tr>
<div class="card-body">
<%= render "form", unidade: @Visitante %>

</div>
